apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: producto-pvc-premium
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: premium-ssd-v2-customm
