apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: hyperdisk-pvc-custom 
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi 
  storageClassName: hyperdisk-gcp-custom